.nav-container {
    margin: auto;
    padding: 2rem;
    display: flex;
    gap: 20px;
    background-color: #111827;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    a {
        text-decoration: none;
        color: #ffffff;

        &:hover{
            color: rgb(97, 118, 127);
            }
    }
    img {
        width: 8rem;
    }
}

button {
    padding: 0.4rem 1rem;
    border: 2px solid rgb(0, 145, 255);
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(20, 26, 207);
    color: #ffffff;
}

