.item-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    flex-wrap: wrap;
    gap: 10px;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.counter-container {
    display: flex;
    flex-direction: column;
    color: rgb(12, 12, 12);
    align-items: center;
    gap: 20px;

    .counter-controls {
        display: flex;
        gap: 20px;

        button {
            background-color: rgb(12, 12, 12);
            color: rgb(255, 255, 255);
            border: solid 2px rgb(255, 255, 255);
            box-shadow: 0 0 0 2px rgb(255, 255, 255);
            transition: background-color 0.3s ease, box-shadow 0.3s ease;

            &:hover {
                background-color: #e6b800;
                color: rgb(9, 9, 9);
                box-shadow: 0 0 0 1px rgb(0, 0, 0);
            }
        }
    }

    span {
        vertical-align: middle;
        color: rgb(16, 15, 15);
        top: 25%;
        transform: translateY(15%);
    }
}