@use 'variables' as v;

.hero-section {
    font-family: v.$ff-title;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #f5f5f5;
    text-align: center;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: #494949;
        animation: fadeInUp;
        animation-duration: 0.8s;
    }

    p {
        font-size: 1.25rem;
        color: #666;
        max-width: 600px;
    }
}