@use 'variables' as v;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: v.$ff-body;
    font-size: 16px;
    line-height: 1.5;
    min-height: 100vh;
    background: linear-gradient(14deg, #ffffff 0%, #d5d8de 50%, #dcdcdc 100%);
    background-attachment: fixed;
    overflow-x: hidden;
}

button {
    padding: 0.4rem 0.8rem;
    border-radius: 8px;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

h1 {
    font-family: v.$ff-title;
    font-weight: 800;
    font-size: 2rem;
    color: #393939;
    text-transform: capitalize;
}