.product-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    padding: 0.3rem 0.6rem;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.236);
    border-radius: 8px;
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.079);
    transition: all ease-in 0.3s;

    &:hover {
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.214);
        flex-grow: 0.1;
    }

    &__img {
        width: 100%;
        aspect-ratio: 3/4;
        object-fit: cover;
        border-radius: 6px;
    }

    &__title {
        font-size: 0.875rem;
        font-weight: 600;
        margin: 0.5rem 0;
    }

    &__btn {
        display: flex;
        flex-direction: column;
        background-color: rgb(12, 12, 12);
        padding: 0.5rem 0.8rem;
        align-items: center;
        text-decoration: none;
        color: rgb(255, 255, 255);
        border: solid 2px rgb(255, 255, 255);
        border-radius: 8px;
        box-shadow: 0 0 0 2px rgb(255, 255, 255);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            background-color: #e6b800;
            color: rgb(9, 9, 9);
            box-shadow: 0 0 0 1px rgb(0, 0, 0);
        }
    }
}