@use 'variables' as v;
@use 'extends';

.product-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    padding: 0.3rem 0.6rem;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.236);
    border-radius: 8px;
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.079);
    transition: all ease-in 0.3s;
    animation: fadeIn;
    animation-duration: 1s;
    font-family: v.$ff-body;

    &:hover {
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.214);
        flex-grow: 0.1;
    }

    &__img {
        width: 100%;
        aspect-ratio: 3/4;
        object-fit: cover;
        border-radius: 6px;
    }

    &__title {
        font-size: 0.875rem;
        font-weight: 600;
        margin: 0.5rem 0;
    }

    &__btn {
        @extend %btn-velvet;
    }
}