@import url('https://fonts.googleapis.com/css2?family=Google+Sans:opsz,wght@17..18,400..700&family=Lato:wght@400;700;900&display=swap');

$ff-title: 'Google Sans', sans-serif;
$ff-body: 'Lato', sans-serif;
$navbar-bg: rgb(26 26 26);
$text: rgb(12, 12, 12);
$bg: linear-gradient(14deg, #ffffff 0%, #d5d8de 50%, #dcdcdc 100%);