@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&family=Google+Sans:opsz,wght@17..18,400..700&display=swap');

$ff-title: 'Google Sans', sans-serif;
$ff-body: 'DM Sans';
$navbar-bg: rgb(26 26 26);
$bg: linear-gradient(14deg, #ffffff 0%, #d5d8de 50%, #dcdcdc 100%);
$overlay: rgba(0, 0, 0, 0.5);
$text-title: #494949;
$text: rgb(12, 12, 12);
$text-btn: rgb(255, 255, 255);
$border-btn: rgb(0, 0, 0);
$shadow-btn: rgba(0, 0, 0, 0.223);